body {
  box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.theme-dark {
  background-color: #1b1b1b;
}

.theme-dark .card {
  background-color: #4e4e4e;
  color: #ffffff;
}

.theme-dark .title {
  color: #ffffff;
}

.container {
  margin: auto;
  max-width: 1600px;
}

.title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 50px;
}

.card {
  padding: 8px;
  background-color: white;
  height: 100%;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  box-sizing: border-box;

  @media (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-list--two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.card-list--two-columns .card_img {
  height: 400px;
}

.card-list_item {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 16px;
}

.card_img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
}

.card_title {
  text-align: center;
}
