
.day {
	background-color:blanchedalmond;

}
.night {
	background-color: rgb(39, 7, 67);
	color: white;
}
.heade {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.biograph {
	display: grid;
	grid-template-columns: 25% 65%;
	text-align: center;
	width: 100%;
	height: auto;
	justify-content:space-around;
}
.photo {
	object-fit: cover;
	overflow: hidden;
	width: 100%;
	height: auto;
	}
.name {
	width: 100%;
	font-size: 38px;
	font-weight: bold;
}

.target1 {
	font-size: 24px;
	width: 65%;
	float: left;
}
.target2	{
	font-size: 24px;
	width: 35%;
	float: left;
}
.biograph p{ padding: 0 3%;}

.sity {
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.saratovFlex {
	margin-top: 15px;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}
.conteiner_F{
	display: flex;
	width: 20%;	
	flex-wrap: wrap;
	height: auto;
}
.images_F{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.foto_saratov_F {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.text {
	width: 100%;
	text-align: center;
	font-size: 20px;
	height: min-content;
}

.saratovGrid{
	margin-top: 20px;
	display: grid;
	grid-template-columns: 35% 35%;
	justify-content: space-around;
	height: auto;
	
}
.conteiner_G{
	display: grid;
	grid-template-rows: 4fr 1fr;
	height: auto;
}
.images_G {
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.foto_saratov_G {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.numbers {
	margin-left:  30px;
	margin-top: 15px;

	
	font-size: 20px;
}
.footere {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

@media screen and (width<1000px) and (width>=700px){
	.target1, .target2 {
		font-size: 16px;
	}
	.name {
		font-size: 30px;
	}
	.sity {
		font-size: 36px;
	}
}

@media screen and	(width<700px) {
	.biograph {
	display: block;
	}
	.photo {
		object-fit: cover;
		width: 100%;
		justify-content: center;
		height:auto;
	}
	.target1 {
		width: 100%;		
		float: none;
	}
	.target2	{	
			width: 100%;
			float: none;
	}
	.conteiner_F {
			display: flex;
			width: 40%;	
			flex-wrap: wrap;
			height: auto;
	}
	.saratovGrid{
		grid-template-columns: 65%;
	}	
}