body {
    background-color: darkgoldenrod;
}
.container-mendeleev{
    /*flex: 1;*/
    background-color: lightblue;
    flex-direction: row;
    width: 250px;
    height: 150px;
    padding: 10px;
    margin: 10px;
}
.container-mendeleev>div {
    width: 100%;
}
.container-mendeleev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-mendeleev div div:nth-child(1) {
    font-size: 50px;
    font-weight: 600;
    float: left;
}
.container-mendeleev div div:nth-child(2) {
    font-size: 90px;
    font-weight: 550;
    float: right;
}
.container-mendeleev div:nth-child(3) {
    font-size: 40px;
    float: left;
}
.container-mendeleev div:nth-child(4) {
    font-size: 50px;
    font-weight: 600;
    float: right;
}

