*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.header {
  width: 100%;
  padding: 15px 0;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  margin-bottom: 40px;
  background-color: white;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, .8) 0 2px 6px -3px;
}

.logo,
.vodorod,
.cycles,
.arrays,
.string,
.function,
.getpos,
.sign{
  text-decoration: none;
  color: black;
  text-align: center;
}

.logo:hover,
.vodorod:hover,
.cycles:hover,
.arrays:hover,
.string:hover,
.function:hover,
.getpos:hover {
  color: #009efd;
  text-align: center;
  text-shadow: 1px 1px 2px #009efd;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.sign:hover{
  color: #680BAB;
  text-align: center;
  text-shadow: 1px 1px 2px #680BAB;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.hero1 {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

.container {
  display: grid;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container2 {
  display: grid;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  grid-gap: 20px;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
}

.hero__about {
  display: inline;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
}

.hero__subtitle {
  font-size: 18px;
  font-weight: 400;
}

.hero__description {
  font-size: 18px;
  font-weight: 400;
}

.hero__links {
  justify-content: center;
  text-align: center;
}

.hero__link {
  width: 10px;
  height: 10px;
  justify-content: center;
  text-align: center;

}

.hero__box {
  max-width: 500px;
  justify-content: center;
  overflow: hidden;
  border: 10px solid white;
  background-image: linear-gradient(180deg, #001efd 0%, #009efd 100%);
  animation: ava-animate 6s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 0;
  position: relative;
  transition: 3s all;
}

.hero__box:hover {
  transform: rotateY(180deg);
}

.hero__box-img {
  animation: ava-bg 6s infinite alternate;
  padding: 1px;
  z-index: 0;
  position: relative;
}

@keyframes ava-animate {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }

  40% {
    border-radius: 50% 50% 50% 50% / 77% 24% 76% 23%;
  }

  60% {
    border-radius: 26% 74% 27% 73% / 50% 50% 50% 50%;
  }

  100% {
    border-radius: 50% 50% 50% 50% / 77% 25% 75% 23%;
  }
}

@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }

  to {
    backdrop-filter: hue-rotate(45deg);
  }
}

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0 70px;
  justify-content: space-around;
  grid-auto-columns: auto;
  margin-bottom: auto;
}

.car1,
.car2,
.car3,
.car4 {
  color: black;
  text-align: center;
  border: 1px solid black;
}

.car {
  text-align: center;
  color: black;
}

.container4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 270px;
}

.odeshda {
  text-align: center;
  color: black;
}

.odeshda1,
.odeshda2,
.odeshda3,
.odeshda4 {
  color: black;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  flex-basis: 32%;
}

.footer {
  width: 100%;
  padding: 10px 0;
  display: flex;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  background-color: white;
  margin-top: 30px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, .8) 6px 2px 6px 2px;
}

.foot {
  color: black;
}

.container5 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px;
  margin-bottom: 550px;
}

.container6 {
  display: flex;
  justify-content: center;
}

.cell {
  border: 1px solid black;
  padding: 5px;
}

.symbol {
  display: grid;
  grid-area: symbol;
  font-size: 26px;
}

.name {
  display: grid;
  grid-area: name;
  font-size: 26px;
}

.number {
  grid-area: number;
  justify-content: flex-end;
  align-items: flex-end;
  display: grid;
  font-size: 20px;
}

.atomic-mass {
  grid-area: atomic-mass;
  justify-content: flex-end;
  display: grid;
  font-size: 20px;
}

.cell-main {
  display: grid;
  grid-template-areas:
    "symbol . number"
    ". . atomic-mass"
    "name . .";
  padding: 10px;
  background: #009efd;
  box-shadow:
    inset rgba(0, 0, 0, .6) 0 -3px 8px,
    inset rgba(252, 255, 255, .7) 0 3px 8px,
    rgba(0, 0, 0, .8) 0 3px 8px -3px;
}

.cell-main:hover {
  transition: all 1s ease-in-out;
  border-radius: 15%;
}

.zadanie {
  color: #009efd;
}

table {
  width: 650px;
  border: 7px solid #009efd;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}

td {
  text-align: center;
  padding: 10px;
  border: 3px solid #009efd;
}

th {
  text-align: center;
  padding: 10px;
  border: 3px solid #009efd;
}

@media screen and (max-width: 1200px) {
  .container3 {
    grid-template-columns: 1fr 1fr;
  }

  .container4 {
    padding: 0;
  }

  .hero1 {
    padding-top: 50px;
  }

  .hero__container {
    grid-row-gap: 20px;
  }

  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .hero__subtitle {
    font-size: 14px;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__about {
    text-align: center;
  }

  .hero__links {
    justify-content: center;
  }

  .hero__box {
    max-width: 400px;
    justify-self: center;
  }

  .header {
    font-size: 8px;
    margin-bottom: auto;
  }

  .footer {
    font-size: 10px;
    margin-bottom: auto;
  }

  .vk {
    height: 40px;
    width: 40px;
  }

  .tg {
    height: 40px;
    width: 40px;
  }
}

@media screen and (max-width: 600px) {
  .container3 {
    grid-template-columns: 1fr;
    padding: 10px 50px;
  }

  .container4 {
    padding: 0;
  }

  .hero__box {
    max-width: 350px;
  }

  .odeshda1,
  .odeshda2,
  .odeshda3,
  .odeshda4 {
    flex-basis: 75%;
  }
}