*, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100%;
    padding: 15px 0;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    margin-bottom: 30px;
    background-color: white;
    z-index: 100;
    box-shadow: rgba(0,0,0,.8) 0 2px 6px -3px;
  }
  .vodorod{
    text-decoration: none;
    color: black;
    text-align: center;
}
.vodorod:hover{
    color: #009efd;
    text-shadow: 1px 1px 2px #009efd;
    text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.logo{
    text-decoration: none;
    color: black;
    text-align: center;
}
.logo:hover{
    color: #009efd;
    text-shadow: 1px 1px 2px #009efd;
    text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}
.zadachi{
    text-decoration: none;
    color: #009efd;
    text-shadow: 1px 1px 2px #009efd;
    text-align: center;
    text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
  }
  .footer{
    width: 100%;
    padding: 10px 0;
    display: flex;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    background-color: white;
    z-index: 100;
    box-shadow: rgba(0,0,0,.8) 6px 2px 6px 2px;
  }
  .foot{
    color: black;
  }
  .zadanie{
    color: #009efd;
  }